
 <nav class="col-md-2 col-lg-1 d-md-block sidebar bg-light position-fixed" style="height: 100vh; top: 0; width: 200px;">
    <div class="position-sticky" style="top: 0; height: 100%; display: flex; flex-direction: column; justify-content: center;">
      <ul class="nav flex-column">
        <li class="nav-item text-center">
          <a class="nav-link active" aria-current="page" href="#">
            Home
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            Dashboard
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            Orders
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            Products
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            Customers
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            Reports
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            Integrations
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
